body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #444;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

footer {
  background-color: #b5b2b2;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

